body{
	background-color: #e6ffff;
}
.menu a{ 
	text-decoration: none;
	margin: 10px;

}

.menu{
	margin-top: 10px;
	text-align: center;
	font-size: 26px
}
.banner img{
	width: 100%;
}
.wrapper {
	max-width: 1000px;
	margin: auto;
	padding: 0;
	
}
#image{
	padding-top: 50px;
	margin: 0;
}
#image img{
	width: 32.8%;
	
}


.box{
	border: solid 3px;
	margin:auto;
	box-sizing: border-box;
	width: 33%;
	float: left;
	padding: 10px;


}
.info{
	border-color: green;
}
.info:hover h2{
	background-color: green;
	color: white; 
}
.contact{
	border-color: red;
}
.contact:hover h2{
	background-color: red;
	color: white;
}
.career{
	border-color: blue;
}
.career:hover h2{
	background-color: blue;
	color: white;
}