
html, body{
  overflow-x: hidden;
}
@font-face {
  font-family: "baloo";
  src: url('BalooBhaina-Regular.ttf');
}
@font-face {
  font-family: "raleway";
  src: url('Raleway-Regular.ttf');
}
@font-face {
  font-family: "logo";
  src: url('Stainy_PersonalUseOnly.ttf');
}
body{
	background-color: #f2f2f2;
}
*{
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
}



.modal-dialog {
    width: 80%;
    margin: 30px auto;
}


.taikhoan{
	padding: 10px 0 10px 30px;

}

.taikhoan:hover {
	background-color: #ff1a1a;

}
.taikhoan:hover a{
	color:black;
}
.tick {
    color: white;
    font-weight: bold;
    background-color: #79A70A;
}
.btn-danger{
  background-color:#F4511E;
}
.box {
  width: 100%;
  position: relative;

  background: #EEE;
  border:none;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.special{
  color:#388E3C;
  font-size:18px;
}

.scrollup {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url('img/icon_top.png') no-repeat;

}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#navbar1{
  font-family: 'logo'; font-size: 26px; padding-top:19px;
}
#navbar1 span{
  color:#ff4d4d;
}
#uldrop{
  width:100%
}
#form1{
  padding:0 10px;
}
#form1 input{
  padding-bottom:5px;
}
#form2 {
  width:350px; padding: 0 5px;
}
.fullwidth{
  width: 100%;
}
#container1{
  margin-top: 80px;
}
#bs-example-navbar-collapse-2 ul{
  padding-left: 30px;
}
#bs-example-navbar-collapse-2 ul li{
  margin-bottom: 6px;
}

#divsearch{
  text-align:center
}
.thanhloc{
  border: 1px #388E3C solid; overflow: hidden;
}
.thanhloc>div.row{
  border-bottom: 1px #388E3C solid; margin-bottom: 10px;border-top: 1px #388E3C solid; margin-top:0px; padding-top: 5px;
}
.thanhloc>div.row:first-child{
  border-top:none; padding-top: 0px;
}
.thanhloc>div.row>span{
  color:#388E3C; font-size:20px;margin-left: 10px;
}

.under{
  text-decoration: underline;
  padding-left: 10%;
}
#sapxep{
  width: 80%;
  margin-bottom:10px;
  margin-left: 10%;
}
#footerdiv{
  color:white; background-color:black; margin-top: 60px;
}
#footerdiv>div:first-child{
  color:white; background-color:black; padding-top: 20px;
}
#footerdiv a{
  color:white
}
#footerdiv img{
  width:50px;
}
#cpright{
  background-color:black;
}
#cpright>div{
  background-color:black; color: white; padding-top: 10px; padding-bottom: 10px;
}
#giohanggiohangLabel{
  font-size: 20px;
}
.modaldeco{
  border-bottom: solid 1px #388E3C; padding-top: 10px; padding-bottom: 10px;
}
#padbot{
  padding-bottom:20px;
}
.giamodal{
  font-size: 16px;
  color:red;
}
#padbot10{
  padding-bottom:10px;
}
.tonggia{
  padding-bottom:20px; text-align:right;
}
.thanhloc span{
  padding-left: 10%;

}
.glyphicon-star, .glyphicon-star-empty{
  color: #FFA000;
}
